<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yunyi.back.persistence.mapper.ArticleCommentMapper">
    <select id="getArticleComments" resultType="net.yunyi.back.persistence.vo.ArticleCommentVo">
        select c.id          as id,
               c.sender_id,
               u.name        as sender_name,
               c.content,
               c.create_time as send_time,
               c.floor,
               c.has_ref_comment,
               c.ref_comment_id
        from article_comment c
                 join user u
                      on u.id = c.sender_id
        where c.article_id = #{articleId}
    </select>

    <select id="getArticleComment" resultType="net.yunyi.back.persistence.vo.ArticleCommentVo">
        select c.id          as id,
               c.sender_id,
               u.name        as sender_name,
               c.content,
               c.create_time as send_time,
               c.floor,
               c.has_ref_comment,
               c.ref_comment_id
        from article_comment c
                 join user u
                      on u.id = c.sender_id
        where c.id = #{commentId}
    </select>

</mapper>
